<!-- 
  File: _nyses.html.erb
  Type: Partial View
  Use: Entire List of resources 

  #DEBUGGING SUMMARY 
   0 Fix Alert(s) 
   1 Bug Alert(s)     
-->

<% StockUserList.connection %>
<%= include_gon %>

<div id="pagewrap">
 <div id="p-header" class="top"> 
  <div id="market_title">
   <div id="p-header-left">
    <div id="follow-btn" class="btn btn-primary btn-xs" role="button">
     <%= link_to "Back", root_path %>
    </div>
   </div>
   
   <div id="p-header-center">NYSE</div>
   
  <div id="p-header-right">
   <div id="follow-btn" class="btn btn-primary btn-xs" role="button">
    <a href="#openModal">Help</a>
   </div>
   <div id="openModal" class="modalDialog">
    <div> <a href="#close" title="Close" class="close">X</a>
     <h2>Help Desk</h2>
     <p>Search for a public company of interest, listed on the NYSE.</p></br>
     <p>Once you've found a company click on explore. This will move you to the next step.</p></br> 
     <p>Sign in and follow a company to compare or keep track.</p></br>
    </div>
   </div>
   <div id="follow-btn" class="btn btn-primary btn-xs" role="button">
     <%= link_to "List", stock_user_lists_path %>
   </div>
  </div>
 </div>
</div>


 <section id="content" class="right not-visible"> 
  <div id="headlines-table-wrapper">
    <table id="list_co" class="display pullDown" data-source="<%= nyses_url(format: "json") %>">
      <col width="20%" />
      <col width="60%" />
      <col width="20%" />
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Explore</th>
      </tr>
    </thead>
    <tbody>
      <!-- Server Side. Faster loading for big data. -->
    </tbody>
   </table>
  </div>
 </section>

 <section id="middle" class="left not-visible">
  <div id="middle-wrapper">
    <h2>The New York Stock Exchange</h2>
    
    The NYSE, sometimes known as the "Big Board", is an American stock exchange located at 11 Wall Street, Lower Manhattan, New York City, New York. It is by far the world's largest stock exchange by market capitalization of its listed companies at US$19.69 trillion as of May 2015. <img src="../assets/nyse.jpg" height="250px" style="float:right; padding:10px; padding-right:0px;">The average daily trading value was approximately US$169 billion in 2013.</p>
    <!-- p>There are tricks to building a table that looks and functions just right, here are mine. This table was built using two seperate tables, an upper and a lower. The upper is used to maintain the position of the static header and the lower provides the scrolling feature for this tables' content. <img src="../assets/nyse.jpg" height="250px" style="float:right; padding:10px; padding-right:none;"> The table window is its own seperate entity and changes dynamically depending on the users specifications. </p--></br>
    
    <p>The NYSE trading floor is located at 11 Wall Street and is composed of 21 rooms used for the facilitation of trading. A fifth trading room, located at 30 Broad Street, was closed in February 2007. The main building and the 11 Wall Street building were designated National Historic Landmarks in 1978.</p>
    <!-- p>Sometimes It's hard get excited about table data. I have added a few UI features to keep things interesting. A highlighted row and a delayed color change (the button's text) coupled with a slight hint of orange help to set it off. Hover over the button itself and it comes to life too. It is almost impossible not to click it. Click me Click me!</p--></br>

    <p>The NYSE is owned by Intercontinental Exchange, an American holding company it also lists. Previously, it was part of NYSE Euronext (NYX), which was formed by the NYSE's 2007 merger with the fully electronic stock exchange Euronext. NYSE and Euronext now operate as divisions of Intercontinental Exchange.</p>
    <!-- p>This table is fully resposive and will look good on any size screen. Try adjusting your browser and watch the table transform. The results are a nice looking table that is compact and user friendly. Other more obvious features are pagination (page controller), list size parameters, search functionality, and column sort.</p-->
    </br>

   </div>

  </section>
  
  <div id="p-footer"></div>
 </div>

<div id="loading"></div>

<!-- !!!!!!!!!!!!!!!!!!!!!!!! BUG ALERT !!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Ajax function needs reworking script only called upon reload -->
<!-- Leave scripts in .HTML.ERB Files until issue is resolved. -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!! BUG ALERT !!!!!!!!!!!!!!!!!!!!!!!! -->

<script type="text/javascript">

  $(document).ready(function(){
    $(this).scrollTop(0);
    $('.right').addClass("slow-speed pullDown is-visible");
    $('.left').addClass("slow-speed pullDown is-visible");
    $('.down').addClass("slow-speed pullUp is-visible");
  });

 $('#list_co').DataTable({
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $('#list_co').data('source'),
    "pagingType": "simple_numbers",
    "lengthMenu": [[100, 250, 500, 5000], [100, 250, 500, "All"]],
    "pageLength": 250,
    "order": [ 0, 'asc' ],
     "scrollY": '425px',
     "fixedHeader": true,
     "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [ 2 ] },
      ],
     "oLanguage": {
         "sProcessing": "<img src='../assets/please_wait.gif' height='50' width='50'>"
     },
     "processing": true,
     "bInfo" : false,
     "bJQueryUI": true
  });

  function modalClose() {
    if (location.hash == '#openModal') {
      location.hash = ''; } 
  }

  document.addEventListener('keyup', function(e) {
    if (e.keyCode == 27) {
      modalClose(); }
  });

  var modal = document.querySelector('#openModal');
  modal.addEventListener('click', function(e) {
    modalClose();
  }, false);

  modal.children[0].addEventListener('click', function(e) {
    e.stopPropagation();
  }, false);

</script>



