.dataTables_wrapper {
  //padding: 10px;
  padding-top: 0px;
  //box-shadow: 0px 2px 5px #bbb;
  padding: 12px;
  padding-bottom: 0px;

}

#prod-wrap{
	background-color: white;
}

#t-pro-wrapper{
	//margin: 15px;
	box-shadow: 0px 2px 5px #bbb;
	background-color: #ddd;
}

#headlines_length{
	//margin-left: 60px;
}

#dataTables_filter{
	//padding-right: 60px;
}

table.dataTable thead .sorting_asc{
    background-image: url('../assets/sort_asc.png');
    background-color: #f1f1f1;
}

table.dataTable thead .sorting_desc{
	background-image: url('../assets/sort_desc.png');
	background-color: #f1f1f1;
}

.dataTables_wrapper .dataTables_scroll{
	//border: solid 1px #ccc;
	box-shadow: 0px 2px 5px #bbb;
	//margin: 50px;
	margin-bottom: 0px;
	padding: 20px;
	padding-top: 10px;
	background-color: white;
}

.dataTables_info{
	margin: auto;
	text-align: center;
}

#products_wrapper{
	text-align: center;
	background-color: #f4f4f4;
	padding: 10px;
	margin-top: 5px;
	box-shadow: 0px 2px 5px #bbb;
	//padding-right: 80px;
	//padding-left: 80px;
}

.dataTables_scrollHead{
	background: white;
	//margin-top: 3px;
	max-height: 48px;
}

.dataTables_length{
	margin-bottom: 5px;
}

.dataTables_scrollHeadInner{
	//padding-top: 3px;
}

.dataTables_wrapper .dataTables_paginate .fg-button, 
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0.1em .5em;
    border: 1px solid #ccc;
    color: #999 !important;
    background: #eee;
}

.dataTables_wrapper .dataTables_paginate .fg-button.current,
.dataTables_wrapper .dataTables_paginate .fg-button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: rgba(7,105,167, .3);
	color: #fff;
}

.dataTables_wrapper .dataTables_paginate .ui-state-disabled,
.dataTables_wrapper .dataTables_paginate .ui-state-disabled a:hover{
	background: #fff;
	border: 1px solid #ccc;
}

.dataTables_wrapper .dataTables_paginate .fg-button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: #428bca;
}

.dataTables_wrapper .dataTables_scroll .dataTables_scrollBody{
	height:388px !important;
	//height:406px !important;
	margin-top: 1px;
	margin-bottom: 1px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-top: solid 1px #999;
	border-bottom: none;
	background-color: white;
}

.dataTables_wrapper .dataTables_info{
	float:none;
	//background-color: white;
	font-size: 12px;
	padding-bottom: 5px;
	margin-top: 5px;
}

.dataTables_wrapper .dataTables_paginate{
	float: none;
	text-align: center;
	//background-color: white;
	//padding-bottom: 10px;
	cursor: pointer;
	margin-top: 7px;
}

.columnOne{
	text-align: center;
	border-right: solid 2px #ccc;
}

.columnFour{
	text-align: center;
	border-left: solid 2px #ccc;
	height: 40px;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable td{
	border: none;
	font-size: 15px;
	overflow-x: hidden;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
	background-color: white;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1{
	background-color: #f4f4f4;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
	background-color: #f4f4f4;
}

table{
	border: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:fourth-child:before, 
table.dataTable.dtr-inline.collapsed > tbody > tr > th:fourth-child:before{
	//left: 125px;
	color: white;
}

.columnFour > a{
	display: inline-block;
    width: 100%;
    height: 100%;
    //padding-top: 20%;
    padding-top: 10px;
    border: 1px solid #ccc;
    color: white;
    background: #eee;
}

.columnFour:hover > a{
	color: orange;
}

#list_co > tbody > tr:hover > td > a{
	background-color: #3db2e1;
	color: white;
	border: solid 1px #999;
}

@media only screen and (max-width: 760px), (max-device-width: 1024px) and (min-device-width: 768px){
	.td{
		right: 25px;
		left: 0px;
	}

	.columnOne{
		min-width: 50px;
	}
}

#search-img{
	position: absolute;
    left: -266px;
    bottom: -237px;
}

