

.Table
{
  display: table;
}

.Title
{
   display: table-caption;
}

.Heading
{
  display: table-row;
  font-weight: bold;
  text-align: left;
}
  
.Row
{
  display: table-row;
}

.Cell
{
  display: table-cell;
  /*border: solid;*/
  border-width: thin;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 20px;
  font-size: 13px;
}

.move_to{
  color: #428bca;
  text-decoration: none;
}

a:visited{
  text-color: white;
}

.table_link:hover a{
  color: #fff;
  text-decoration: none;
}

.table_link a:visited{
  color: grey;
  text-decoration: none;
}
.move_to a:hover{
  color: #fff;
  background-color: none;
}

a.move_to:hover{
  color: #fff;
  text-decoration: none;
}

.table_view-mylist{
  margin-top: -28px;
}

  #load{
    padding-left: 125px;
    padding-right: 105px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 36px;
    color: white;
    border-radius: 1.3em;
    border: solid 3px #fff;
    background-color:#2a6496;
  }

  #spinner{
    position: fixed;
    top: 48%;
    left: 35%;
    z-index: 1;
    
  }

