
<div class="container center_div">  
<!--p class="alert"><%= alert %></p-->
<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= devise_error_messages! %>
    <%#end%>
  <%= yield %>    
</div>
